div.bar {
  background-color: #e4dede;
  margin-top: 0px;
  padding: 3px 5px;
  border-radius: 0px 0px 6px 6px;
  border: 3px solid #f0f0f0;
}

.clearfix::after {
  clear: both;
  display: block;
}

input {
  width: 330px;
  padding: 4px 2px;
}


/*
button {
  padding: 5px 15px;
  border-radius: 4px;
  background-color: limegreen;
  border: 2px solid lime;
  font-weight: 600;
}

button:hover {
  background-color: rgb(3, 80, 3);
  color: aliceblue;
  border-color: blueviolet;
}
*/
